html {
  margin: 0;
}

/* frame2112--------------------------------------------------------------------------------- */

section {
  height: auto;
  padding: 2rem 4rem;
}
.frame2112 {
  background: linear-gradient(360deg, rgba(52, 39, 85, 0.59) 0%, #231741 100%),
    #231741;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
  margin: 0rem 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdownIcon {
  margin-left: 0.5rem;
  width: 8px;
  height: 8px;
}
.dropbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}
.dd-li {
  color: #666666;
  text-align: left;
  margin: 0.8rem;
  font-weight: 500;
}
.menu {
  display: none;
}
.intro {
  display: flex;
  flex-direction: row;
}
/* .info {
  width: 55%; 
} */
h1 {
  margin-top: 8rem;
  margin-bottom: 0rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
}
h2 {
  color: #ffa339;
}
p {
  font-size: 16px;
  line-height: 24px;
}
.btn {
  padding: 0.8rem 2rem;
  outline: none;
  border: none;
  background-color: #5f6fbf;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.21);
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.info-btn {
  background-color: #ff3d6b;
  margin-top: 2rem;
}
.btnArrow {
  margin-left: 0.5rem;
  width: 14px;
  height: 14px;
}
.inside-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width:  45%;
}
.ellipseVideo {
  margin-top: 4rem;
  cursor: pointer;
}

/* frame2113--------------------------------------------------------------------------------- */

.frame2113 {
  background: linear-gradient(0deg, #ffffff, #ffffff), #0d012c;
}
.heading {
  color: #271b46;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0;
}
.heading-let {
  color: #271b46;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.grey-p {
  color: #666666;
  width: 50%;
}
.divider {
  width: 100%;
  border: 8px solid #f6f6f6;
  margin-bottom: 6rem;
}
.top-headings {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-in-touch {
  width: 45%;
  display: flex;
  margin-left: 4rem;
  flex-direction: column;
  justify-content: space-around;
}
.touch-imgs {
  margin-right: 1rem;
}
.touch-btn {
  width: 45%;
}
.start-a-call {
  width: 55%;
}
.touch-yt {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

/* frame2114--------------------------------------------------------------------------------- */

.frame2114 {
  background: linear-gradient(0deg, #ffffff, #ffffff), #0d012c;
}
.schedule {
  display: flex;
  flex-direction: row;
  margin: 4rem 4rem;
  align-items: center;
  justify-content: center;
}
.schedule-call {
  background-color: #fff4e7;
  margin-right: 3rem;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}
.schedule-dates {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.heading2 {
  color: #271b46;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
}
.schedule-date {
  border: 1px solid #2d356b;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem 1.5rem;
  color: #2d356b;
  cursor: pointer;
}
.point {
  margin-right: 0.5rem;
}
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.5rem;
  height: 12rem;
  border-radius: 4px;
  padding: 1rem;
  color: #231741;
}
.sync-card {
  height: 10rem;
  background: #e8f4ff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.callback-p {
  color: #666666;
  font-weight: 400;
}
input {
  height: 2.2rem;
  font-weight: 500;
}
.add-btn {
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  background-color: #231741;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.center-btn {
  margin: 4rem 0rem;
  width: 100%;
  text-align: center;
}

/* frame2115--------------------------------------------------------------------------------- */

.frame2115 {
  background: linear-gradient(0deg, #fff9fa, #fff9fa), #0d012c;
  mix-blend-mode: normal;
}
.integrate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}
.integrate-info {
  width: 50%;
}
.technology {
  width: 50%;
  text-align: center;
}
.dev-btn {
  margin-top: 4rem;
}
.powered {
  margin: 0.5rem;
  width: 13.5rem;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}

/* frame2116--------------------------------------------------------------------------------- */

.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}
.f {
  width: 10rem;
  height: 15rem;
  margin: 3rem;
}
.f-h3 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  color: #2d204d;
}
.f-p {
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 20px;

  color: #5c717c;
}

/* frame2117--------------------------------------------------------------------------------- */

.frame2117 {
  background: linear-gradient(0deg, #fff9fa, #fff9fa), #231741;
  mix-blend-mode: normal;
  padding: 4rem 0rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0rem;
}
.profile-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  color: #271b46;
}
.profile-p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  width: 70%;

  color: #2d204d;
}
.stars {
  margin: 0.5rem;
}
.start {
  margin: 0 0.5rem;
}

/* frame2118--------------------------------------------------------------------------------- */
.frame2118 {
  width: 100%;
  background-image: url(./resources/trail2-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6.5rem 0rem;
}
.trail-h {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: white;
}
.center {
  text-align: center;
}

/* frame2119--------------------------------------------------------------------------------- */

.nav-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.nav-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  cursor: pointer;
}
.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4rem 0rem 6rem 0rem;
}
.resource-imgs {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.resource-img {
  margin-bottom: 2rem;
  cursor: pointer;
}
.footer-divider {
  border: 1px solid #e0e0e0;
  margin: 0 1rem;
}
.socials {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;

  color: #666666;
}
.socials-div {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.socials-img {
  margin: 1rem;
  cursor: pointer;
}
.copyright {
  margin-right: 1rem;
}
.TC,
.PP {
  margin: 3rem;
  cursor: pointer;
}

/* --------------------------------------Mobile Resposive------------------------------------- */

@media screen and (max-width: 1080px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: block;
  }
  ul {
    display: none;
  }
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
  }
}
